.image-slider {
    position: relative;
}

.image-slider img {
    width: 80vw;
    height: 500px;
    object-fit:cover;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 24px; /* Размер шрифта */
    color: #fff; /* Цвет стрелок */
    background-color: rgba(0, 0, 0, 0.5); /* Цвет фона стрелок */
    padding: 10px; /* Отступы внутри стрелок */
    border-radius: 50%; /* Скругление углов для круглых стрелок */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
}

    .slick-arrow:hover {
        background-color: rgba(0, 0, 0, 0.8); /* Цвет фона при наведении */
    }

.slick-prev {
    left: 10px; /* Расположение левой стрелки */
}
    .slick-prev:before {
        content: '';
    }

.slick-next {
    right: 10px; /* Расположение правой стрелки */
}

    .slick-next:before {
        content: '';
    }
