.image-slider {
    position: relative;
}

    .image-slider img {
        width: 80vw;
        height: 25vw;
        object-fit: cover;
    }

.slick-arrow {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

    .slick-arrow:hover {
        background-color: rgba(0, 0, 0, 0.5); /* Цвет фона при наведении */
    }

.slick-prev,
.slick-next {
    /* Styles for both prev and next arrows */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw; /* Adjust width as needed */
    height: 100%; /* Set height to match slider */
    background-color: rgba(0, 0, 0, 0.2); /* Optional background for better visibility */
    z-index: 1; /* Ensure arrows are above slider content */
    cursor: pointer;
    transition: all 0.3s ease;
}

    .slick-prev:hover,
    .slick-next:hover {
        background-color: rgba(0, 0, 0, 0.5); /* Optional hover effect */
    }

.slick-prev {
    left: 0vw;
    top: 49.32%;
    height: 25vw;
}

.slick-next {
    top: 49.32%;
    height: 25vw;
    right: 0vw;
}
