.no-line {
    text-decoration: none;
    color: black;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.best-sellers {
    position: relative;
}

    .best-sellers h2 {
        padding-top: 25px;
        text-align: center;
    }

    .best-sellers:hover {
        border-color: #ff9519;
    }

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    width: calc(33.33% - 20px);
    margin: 0 10px 20px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
}


    .product-item img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    .product-item:hover {
        border-color: #ff9519;
    }

.product-details {
    margin-top: 10px;
}

    .product-details h3 {
        margin-bottom: 10px;
    }

    .product-details span {
        margin-right: 10px;
    }

    .cart-button:hover {
        background-color: #ff9519;
        color: #fff;
    }

.counter-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.counter-button {
    background-color: #ffad4d;
    border: 1px solid #ffad4d;
    color: #fff;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
    width: 30px;
    height: 30px; 
    font-size: 16px;
}

    .counter-button:hover {
        background-color: #ff9519;
        color: #fff;
    }

.cart-controls {
    display: flex;
    align-items: center;
}

    .cart-controls button {
        background-color: #ffad4d;
        border: 1px solid #ffad4d;
        color: #fff;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 8px; 
        width: 40px; 
        height: 40px; 
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .cart-controls button:hover {
            background-color: #ff9519; 
            color: #fff;
        }

    .cart-controls .cart-button {
        margin-left: 10px; 
    }

    .cart-controls input {
        margin: 5px;
        padding: 8px;
        width: 40px;
        text-align: center;
        border: 1px solid #ddd; 
        border-radius: 8px;
        font-size: 16px; 
    }

    .cart-controls .cart-button {
        background-color: #fff; 
        border: 1px solid #ffad4d;
        color: #ffad4d; 
        margin-left: 150px;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 8px; 
        width: 125px; 
        height: 40px; 
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .cart-controls .cart-button:hover {
            background-color: #ffad4d; 
            color: #fff; 
        }