.product-page {
    padding: 0px;
}

.no-line {
    text-decoration: none;
    color: black;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

label {
    margin-right: 8px;
    padding-left: 5px;
}

select {
    padding: 8px;
    margin-bottom: 16px;
}

.filter-row {
    display: flex;
    flex-wrap: wrap;
}

.filter-item {
    margin-right: 10px;
}
