.product-page {
    padding: 0px;
}

.no-line {
    text-decoration: none;
    color: black;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

label {
    margin-right: 8px;
    padding-left: 5px;
}

select {
    padding: 8px;
    margin-bottom: 16px;
}

.sort-options {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .sort-options label {
        margin-right: 10px;
        font-weight: bold;
    }

    .sort-options select {
        margin-right: 20px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

.filter {
    width: 100%;
}

.filter-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-item {
    flex: 0 1 200px;
    display: flex;
    display: block;
}

    .filter-item label {
        margin-bottom: 5px;
        display: block;
        font-weight: bold;
        color: #343a40;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px;
    }

    .filter-item select {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

.show-more-button {
    text-align: left;
    margin-bottom: 20px;
}

    .show-more-button button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #ffffff;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .show-more-button button:hover {
            background-color: #0056b3;
        }

@media (max-width: 768px) {
    .filter-item {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .filter-item {
        flex: 1 1 100%;
    }
}
