.top-section {
    position: relative;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 110px;
    width: 100%;
}

.no-line {
    text-decoration: none;
    color: black;
}

.cart-button-on-top-section {
    background-color: #fff;
    border: 1px solid #ffad4d;
    color: #ffad4d;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;
    width: 220px;
    height: 75px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .cart-button-on-top-section:hover {
        background-color: #ffad4d;
        color: #fff;
    }

.auth-buttons {
    padding: 10px;
    display: flex;
    gap: 15px;
}

    .auth-buttons a {
        text-decoration: none;
    }

    .auth-buttons button {
        background-color: #ffad4d;
        border: 1px solid #ffad4d;
        color: #fff;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 8px;
        transition: background-color 0.3s;
    }

        .auth-buttons button:hover {
            background-color: #ff9519;
        }